.navbar{
    background-color: chocolate;
    display: flex;
   justify-content:space-evenly;

 }
 a{
    text-decoration: none;
    color:black;
 }
 li{
    list-style-type: none;
    
 }

 @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: rgb(22, 7, 36);
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 4rem;
}

.left h1 {
    font-size: 2.5rem;
    cursor: pointer;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color:yellow;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: BLUE;
    border-radius: 7px;
    color: rgb(22, 7, 36);/
    /* color:white; */
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 3rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

}
body {
    font-family: Arial, sans-serif;
    background-color: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dd4b39;
    color: green;
    text-align: center;
    padding:20px;
    justify-content: space-evenly;

}



.container {
    display: flex;
    text-align: center;
    justify-content:space-evenly;
    padding: 65px;
    background-color:none;
}

.form-container {
    background-color:black;
    padding: 20px;
    border: 1px solid green;
    border-radius: 5px;
}

.list-container {
    background-color: black;
    padding: 20px;
    border: 1px solid green;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 5px;
}

button {
    background-color: #dd4b39;
    color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
body{
    /* background-image: url("https://as1.ftcdn.net/v2/jpg/06/21/15/38/1000_F_621153828_F5OR0P8pt1tUMmeHAonRTJJiyUzXGhfm.jpg"); */
    background-image: url("https://img.freepik.com/premium-vector/world-blood-day-concept-vector-flat-illustrations_199064-821.jpg?size=626&ext=jpg&ga=GA1.1.1769004961.1701627884&semt=ais");
    background-image: cover;
}
footer {
    background-color: #0f1111;
    color:white;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 34px;
}
a{
text-decoration: none;
color: white;
}